<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flights</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Flights</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Route</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <!-- Add other flight fields as necessary -->
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                <tr>
                    <td>{{ flight.id }}</td>
                    <td>{{ flight.origin_country }} to {{ flight.destination_country }}</td>
                    <td>{{ flight.departure_time }}</td>
                    <td>{{ flight.arrival_time }}</td>                                     
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No flights found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
